:root {
  --accent: #42b983;
  --accent-dark: #2c3e50;
  --text-light: #fff;
  --text: #2c3e50;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
  }
}

.modal-open {
  overflow: hidden;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  color: var(--text-light);
  background-color: var(--accent);
  border: 0;
  box-shadow: 0 1px 4px rgba(0,0,0, .5);
  transition: .1s;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--accent-dark);
  }
}

.vis-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
